$toolbar-height: 64px;

.page-wrapper {
  background-image: url('/assets/images/bike-base-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - $toolbar-height);
}

.search-form-wrapper {
  display: flex;
  justify-content: center;
}

.custom-text-shadow {
  text-shadow: 1px 1px 1px #000;
}
